#headlessui-portal-root{
  position: relative;
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}
#ms-floating-button-s{
  margin-left: -4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font: 400 0.75rem/1.35 var(--bs-body-font-family);
  border: 1px solid var(--bs-body-color);
  border-radius: 40px;
  white-space: nowrap;
  transform: none;
  padding: 11px 12px;
  cursor: pointer;
  letter-spacing: -0.01em;
  &:hover{
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
  }
  @media (max-width: 767px){
    display: none;
  }
  & > :first-child{
    transform: none;
    margin: 0;
  }
  *{
    transition: none;
  }
  &:before{
    content: "Ask AI";
  }
  & > :last-child{
    display: none;
  }
}
