.breadcrumbs__item--active{
  .breadcrumbs__link{

  }
}
.breadcrumbs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 16px;
  gap: 12px 0;
  &__link{
    padding: 0;
    font: 500 0.75rem/1 var(--bs-body-font-family);
  }
  &__item{
    display: flex;
    align-items: center;
    &:not(:last-child){
      &:before {
        right: 100%;
        font: 500 0.75rem / 1.33 var(--bs-body-font-family);
        content: '1.0';
        margin-right: 8px;
        border-radius: 1em;
        padding: 0 5px;
        background: var(--rsk-color-main);
        color: var(--bs-black);
        min-width: 30px;
        text-align: center;
      }
      &:after{
        filter: none;
        opacity: 1;
        width: 16px;
        height: 16px;
        margin: 0 4px;
      }
    }
  }
}
