.breadcrumbs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 16px;
  gap: 12px 0;
  &__link{
    padding: 0;
    font: 500 0.75rem/1 var(--bs-body-font-family);
  }
  &__item{
    display: flex;
    align-items: center;
    &:not(:last-child){
      &:after{
        filter: none;
        opacity: 1;
        width: 16px;
        height: 16px;
        margin: 0 4px;
      }
    }
  }
}
