.btn{
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-body-bg);;
  --bs-btn-border-color: var(--bs-body-color);

  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-body-color);
  --bs-btn-hover-border-color: var(--bs-body-color);

  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-body-color);

  --bs-btn-active-box-shadow: #{$btn-active-box-shadow};

  --bs-btn-box-shadow: 4px 4px 0 -1px var(--bs-btn-bg), 4px 4px 0 0 var(--bs-btn-border-color);
  --bs-btn-focus-box-shadow: var(--bs-btn-box-shadow);

  box-shadow: var(--bs-btn-box-shadow);

  letter-spacing: -0.01em;
  position: relative;
  text-decoration: none !important;
  & > span, & {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    z-index: 1;
  }
  &:hover, &:focus{
    box-shadow: var(--bs-btn-focus-box-shadow);
  }
  &:active{
    box-shadow: var(--bs-btn-active-box-shadow);
  }
}
.btn-blank{
  background: none;
  border: none;
  color: inherit;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
}

.btn-close{
  --bs-btn-close-color: var(--bs-forest-green);
  --bs-btn-close-hover-color: var(--bs-lime-green);
  --bs-btn-close-bg: var(--bs-lime-green);
  --bs-btn-close-hover-bg: var(--bs-primary);
  padding: 16px;
  display: inline-flex;
  align-items: start;
  justify-content: end;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  color: var(--bs-btn-close-color);
  & > svg{
    position: relative;
    z-index: 1;
  }
  &:hover{
    color: var(--bs-btn-close-hover-color);
    &:after{
      background-color: var(--bs-btn-close-hover-bg);
    }
  }
}
.btn-circle{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 1px solid $black-800;
  color: $black-800;
  background-color: transparent;
  svg{
    pointer-events: none;
  }
  &:hover, &:focus{
    background-color: $black-800;
    color: white;
  }
}

.btn-outline {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-body-bg);;
  --bs-btn-border-color: var(--bs-body-color);

  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-body-color);
  --bs-btn-hover-border-color: var(--bs-body-color);

  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-body-color);
  --bs-btn-active-border-color: var(--bs-body-color);
  --bs-btn-box-shadow: none;
  --bs-btn-focus-box-shadow: none;

  font: 700 #{$f16}/1 $font-family-base;
  padding: 11px 15px;
  position: relative;
  border-radius: 10px;
}

.btn-no-shadow{
  --bs-btn-box-shadow: none;
  --bs-btn-focus-box-shadow: none;
}
