html:root {
  --docsearch-primary-color: var(--bs-purple);
  --docsearch-border-color: rgba(var(--bs-body-color-rgb), 0.2);
  --docsearch-border-hover-color: var(--bs-body-color);
  --docsearch-searchbox-background: var(--bs-body-bg);
  --docsearch-modal-background: var(--bs-body-bg);

  --docsearch-highlight-color: var(--bs-black);
  --docsearch-logo-color: var(--bs-black);

  --docsearch-container-background: rgba(0,0,0,0.2);
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  //--docsearch-muted-color: var(--ifm-color-secondary-darkest);

  /* Modal */
  --docsearch-modal-shadow: none;
  --docsearch-modal-border-color: var(--bs-black);
  //--docsearch-modal-background: var(--ifm-color-secondary-lighter);
  ///* Search box */
  --docsearch-searchbox-shadow: inset 0 0 0 1px var(--bs-black);
  //--docsearch-searchbox-background: var(--ifm-color-secondary);
  //--docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-shadow: none;
  --docsearch-hit-color: var(--bs-black);
  --docsearch-hit-active-color: var(--bs-white);
  --docsearch-hit-background: var(--bs-white);
  ///* Footer */
  --docsearch-footer-shadow: none;
  --docsearch-footer-background: var(--bs-white);

}

[data-theme='dark']:root {
  --docsearch-primary-color: var(--bs-purple);
  --docsearch-muted-color: rgba(var(--bs-body-color-rgb), 0.6);
  --docsearch-searchbox-background: var(--bs-body-bg);
  --docsearch-highlight-color: var(--bs-white);
  --docsearch-logo-color: var(--bs-white);
  //--docsearch-text-color: var(--ifm-font-color-base);
  //--docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(0,0,0,0.2);

  /* Modal */
  --docsearch-modal-shadow: none;
  --docsearch-modal-border-color: var(--bs-white);
  --docsearch-modal-background: #{$gray-950};
  --docsearch-modal-background: var(--ifm-background-color);

  ///* Search box */
  --docsearch-searchbox-shadow: inset 0 0 0 1px var(--bs-white);
  //--docsearch-searchbox-background: var(--ifm-background-color);
  //--docsearch-searchbox-focus-background: var(--ifm-color-black);
  ///* Hit */
  --docsearch-hit-shadow: none;
  --docsearch-hit-color: var(--bs-white);
  --docsearch-hit-active-color: var(--bs-black);
  --docsearch-hit-background: var(--docsearch-searchbox-background);
  /* Footer */
  --docsearch-footer-background: var(--bs-body-bg);
  --docsearch-footer-shadow: none;
  --docsearch-key-gradient: linear-gradient(-26.5deg,#{$gray-700},#{$gray-800});
  --docsearch-key-shadow: inset 0 -2px 0 0 #{$gray-800}, inset 0 0 1px 1px #{$gray-650}, 0 2px 2px 0 rgba(3,4,9,0.3);
  --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #{$gray-850}, inset 0 0 1px 1px #{$gray-650}, 0 1px 1px 0 rgba(3,4,9,0.3);
}
:root{
  .DocSearch-Button {

  }
  .DocSearch-Modal{
    border: 1px solid var(--docsearch-modal-border-color);

    .cls-1, .cls-2{
      fill: var(--docsearch-logo-color);
    }
  }
  .DocSearch-Button-Placeholder{
    padding: 0 24px 0 18px;
    min-width: 160px;
    text-align: left;
    @include media-breakpoint-down(md) {
      display: block;
      padding: 0 16px;
    }
    @include media-breakpoint-only(md) {
      display: none;
    }
  }
  .DocSearch-Button-Keys{
    @include media-breakpoint-only(md) {
      display: none;
    }
  }
  .DocSearch-Hit-action, .DocSearch-Hit-icon{
    color: var(--docsearch-primary-color);
  }
  .DocSearch-Button{
    padding: 8px 16px;
    box-shadow: none;
    border: 1px solid var(--docsearch-border-color);
    height: 40px;
    font-weight: 400;
    @include media-breakpoint-up(md) {
      padding: 12px;
      height: 40px;
    }
    @include media-breakpoint-up(lg) {
      height: 54px;
      padding: 16px 20px;
    }
    &:hover, &:focus{
      box-shadow: none;
      border-color: var(--docsearch-border-hover-color);
    }

    @include media-breakpoint-down(md) {

    }
    .DocSearch-Search-Icon{
      color: var(--docsearch-muted-color);
      @include media-breakpoint-down(lg) {
        width: 16px;
        height: 16px;
      }
    }
  }
  .DocSearch-Container{
    backdrop-filter: blur(20px);
  }
}

