.rl-slider-wrap{
  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}
.rl-slide-card{
  transition: max-height 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition-property: opacity, max-height, transform;
  transition-duration: 0.3s, 0.6s, 0.6s;
  width: 264px;
  @media(min-width: 768px){
    width: 300px;
  }
  @media(min-width: 992px){
    width: 400px;
    opacity: 0;
  }
  .slide-index{
    transition: color 0.2s;
  }
  .splide__slide.is-active &{
    opacity: 1;
    .slide-index{
      color: var(--bs-gray-800, #000);
    }
  }
  .splide__slide.is-active ~ .splide__slide &{
    opacity: 1;
  }
}
.rl-testimonials-slider {
  .rl-slider-section-intro-card {
    min-height: 428px;
  }
  .text-block{
    font-size: $f16 !important;
  }
}
.rl-benefits-slider{
  .rl-slider-wrap{
    min-height: 434px;
    @include media-breakpoint-up(md){
      min-height: 440px;
    }
    @include media-breakpoint-up(lg) {
      min-height: initial;
    }
  }
  .rl-slider-section-intro-card{
    min-height: 428px;
  }
  .rl-slider-card-img-wrap{
    padding: 20px 0;
  }
  .rl-slide-card{
    transition: max-height 0.6s cubic-bezier(0.5, 1, 0.89, 1);
    transition-property: opacity, max-height, transform;
    transition-duration: 0.3s, 0.6s, 0.6s;
    width: 264px;
    max-height: 260px;
    @include media-breakpoint-up(md) {
      width: 300px;
      max-height: 270px;
    }
    @include media-breakpoint-up(lg) {
      width: 400px;
      max-height: 340px;
      opacity: 0;
    }
    .slide-image, .slide-title{
      transition: 0.4s cubic-bezier(0.5, 1, 0.89, 1);
      transition-property: transform, opacity;
      transform-origin: 50% 0;
      transform: scale(0.7);
    }
    .slide-title{
      transform-origin: 0 0;
      transform: scale(0.7);
    }
    .slide-index{
      transition: color 0.2s;
    }
    .slide-text{
      transition: 0.4s cubic-bezier(0.5, 1, 0.89, 1);
      transition-property: max-height, transform;
      //max-height: 0;
      transform: translateY(50%);
      transform-origin: 0 0;
    }
  }
  .splide__slide.is-active .rl-slide-card{
    opacity: 1;
    max-height: 500px;
    .slide-image, .slide-title{
      transform: scale(1);
    }
    .slide-index{
      color: var(--bs-gray-800, #000);
    }
    .slide-text{
      transform: translateY(0%);
    }
  }
  .splide__slide.is-active ~ .splide__slide .rl-slide-card{
    opacity: 1;
  }
}
