.rl-slider-wrap{
  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}
.rl-slide-card{
  transition: max-height 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition-property: opacity, max-height, transform;
  transition-duration: 0.3s, 0.6s, 0.6s;
  width: 264px;
  @media(min-width: 768px){
    width: 300px;
  }
  @media(min-width: 992px){
    width: 400px;
    opacity: 0;
  }
  .slide-index{
    transition: color 0.2s;
  }
  .splide__slide.is-active &{
    opacity: 1;
    .slide-index{
      color: var(--bs-gray-800, #000);
    }
  }
  .splide__slide.is-active ~ .splide__slide &{
    opacity: 1;
  }
}
