ul.tabs {
  color: var(--ifm-tabs-color);
  display: flex;
  font-weight: var(--ifm-font-weight-bold);
  margin: 0;
  gap: 12px;
  overflow-x: auto;
  padding: 0 0 2px !important;
  position: relative;
  scrollbar-width: thin;

  &:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(var(--bs-body-color-rgb), 0.2);
    z-index: 0;
  }
  @include media-breakpoint-down(md) {
    padding:0 16px 6px;
    margin:0 -16px -6px;
    &:after{
      bottom: 4px;
    }
  }
  & + div {
    margin-top: 12px !important;
  }
}

.tabs__item {
  font: 700 1rem/1.25 var(--bs-body-font-family);
  letter-spacing: -0.01em;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  padding: var(--ifm-tabs-padding-vertical) var(--ifm-tabs-padding-horizontal);
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  white-space: nowrap;
  position: relative;
  z-index: 1;
  &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--rsk-tabs-border-color);
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    border-radius: 2px;
  }
  @media (hover) {
    &:hover {
      background-color: var(--rsk-tabs-hover-bg);
      color: var(--rsk-tabs-hover-color);
      &:after{
        transform: scaleX(1);
        background-color: var(--rsk-tabs-hover-border-color);
      }
    }
  }
  &.tabs__item--active{
    background-color: var(--rsk-tabs-active-bg);
    color: var(--rsk-tabs-active-color);
    &:after{
      transform: scaleX(1);
      background-color: var(--rsk-tabs-active-border-color);
    }
  }
}

.tabs--block {
  justify-content: stretch;

  .tabs__item {
    flex-grow: 1;
    justify-content: center;
  }
}
