ul.tabs {
  color: var(--ifm-tabs-color);
  display: flex;
  font-weight: var(--ifm-font-weight-bold);
  margin: 0;
  gap: 10px;
  overflow-x: auto;
  padding: 0;

  @include media-breakpoint-down(md) {
    padding:0 16px 6px;
    margin:0 -16px -6px;
  }
  & + div {
    margin-top: 12px !important;
  }
}

.tabs__item {
  font: 700 0.75rem/1.15 var(--bs-body-font-family);
  letter-spacing: -0.024em;
  border: 1px solid var(--rsk-tabs-border-color);
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  padding: var(--ifm-tabs-padding-vertical) var(--ifm-tabs-padding-horizontal);
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  white-space: nowrap;
  &:hover{
    background-color: var(--rsk-tabs-hover-bg);
    color: var(--rsk-tabs-hover-color);
    border-color: var(--rsk-tabs-hover-border-color);

  }
  &--active{
    background-color: var(--rsk-tabs-active-bg);
    border-color: var(--rsk-tabs-active-border-color);
    color: var(--rsk-tabs-active-color);
  }
}

.tabs--block {
  justify-content: stretch;

  .tabs__item {
    flex-grow: 1;
    justify-content: center;
  }
}
