.fp-title-color{
  font: 700 #{$f40}/1 var(--bs-heading-font-family);
  letter-spacing: -0.04em;
  color: var(--rsk-title-block-color);
  @include media-breakpoint-up(lg) {
    font-size: $f56;
  }
  & > span{
    color: inherit;
    padding: 0px 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
    line-height: 1.4;
  }
}

.fp-title-color-md{

}
.fp-title-color-xs{
  font-size: $f24 !important;
}
.fp-title-color-sm{
  font-size: $f32 !important;
  letter-spacing: -0.024em !important;;
}
.fp-title-color-lg{
  font-size: $f96 !important;;
}
.fp-title-color-xl{
  font-size: $f120 !important;;
  letter-spacing: -0.06em;
}
