.fp-title-color{
  font: 700 #{$f40}/1 var(--bs-heading-font-family);
  letter-spacing: -0.04em;
  color: var(--rsk-title-block-color, var(--bs-black));
  @include media-breakpoint-up(lg) {
    font-size: $f56;
  }
  & > span{
    color: var(--rsk-title-block-bg);
    word-break: break-word;
  }
  [data-theme='dark'] & {
    & > span{
      color: inherit;
      padding: 0px 10px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      display: inline;
      line-height: 1.4;
      word-break: break-word;
      background-color: var(--rsk-title-block-bg, var(--bs-orange));
    }
  }
}
.fp-title-color-contrast{
  --rsk-title-block-bg: var(--bs-contrast);
  --rsk-title-block-color: var(--rsk-contrast-color);
}
.fp-title-color-md{

}
.fp-title-color-xs{
  font-size: $f24 !important;
}
.fp-title-color-sm{
  font-size: $f32 !important;
  letter-spacing: -0.024em !important;;
}
.fp-title-color-lg{
  font-size: $f96 !important;;
}
.fp-title-color-xl{
  font-size: $f120 !important;;
  letter-spacing: -0.06em;
}
