body {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--rsk-navbar-height, 118px);
}

html, body {
  height: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a, button {
  transition: 0.15s ease-in-out;
  transition-property: color, background-color, border-color, opacity;
}


.bg-pink{
  background-color: var(--bs-pink);
}
.bg-purple{
  background-color: var(--bs-purple);
}
.bg-yellow{
  background-color: var(--bs-yellow);
}
.bg-orange{
  background-color: var(--bs-orange);
}
.bg-green{
  background-color: var(--bs-green);
}
.bg-cyan{
  background-color: var(--bs-cyan);
}
.bg-contrast{
  background-color: var(--rsk-contrast);
  color: var(--rsk-contrast-color);
}
