.text-block, .rl-post-content {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p{
    line-height: 1.5;
  }

  .wp-caption {
    width: auto !important;
  }

  a {
    color: inherit;
    text-decoration: underline;
    font-weight: 700;
    text-underline-offset: 0.1em;

    &:hover {
      text-decoration: none;
    }
  }

  h2, h3, h4, h5 {
    font-size: $f22;
    margin-bottom: 32px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.5;
  }

  h4, h5 {
    font-size: $f20;
  }
  ul{
    padding-left: 1.5rem;
  }
  ol, ul {
    margin-bottom: 24px;
    li + li {
      margin-top: 4px;
    }
  }
  ol{
    list-style-type: decimal-leading-zero;
    padding-left: 32px;
    ::marker {
      color: $gray-600;
      font-size: $f18;
      line-height: 1;
    }
    li{
      padding-left: 8px;
    }
  }
  blockquote {
    margin: 24px 18px;
  }

}

.rl-post-content {
  font-size: $f16;
  word-break: break-word;
  //@include media-breakpoint-up(lg) {
  //  font-size: $f18;
  //}

  p {
    margin-bottom: 16px;
    line-height: 1.5;
  }

  a {
    color: $pink;
    text-decoration: underline;
    font-weight: normal;

    u {
      text-decoration: inherit;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .Objective_bold {
    font-weight: 500;
  }

  h2, h3, h4, h5 {
    font-size: $f22;
    margin-bottom: 32px;
    font-weight: 700;
    letter-spacing: -0.024em;
    line-height: 1.1;
  }

  h2 {
    font-size: $f32;
    padding-top: 16px;
    margin-bottom: 24px;
    @include media-breakpoint-up(lg) {
      font-size: $f40;
    }
  }

  h3 {
    font-size: $f32;
    padding-top: 12px;
    margin-bottom: 24px;
    @include media-breakpoint-up(lg) {
      font-size: $f28;
    }
  }

  h4, p.Objective_bold {
    font-size: $f24;
    padding-top: 12px;
    margin-bottom: 16px;
    font-weight: 500;
    @include media-breakpoint-up(lg) {
      font-size: $f22;
    }
  }

  h5, h6 {
    font-size: $f20;
    font-weight: 500;
    padding-top: 12px;
    margin-bottom: 12px;
  }
  ol, ul {
    margin-bottom: 16px;

    li + li {
      margin-top: 8px;
      @include media-breakpoint-up(lg) {
        margin-top: 12px;
      }
    }
  }
  blockquote {
    position: relative;
    font-weight: 500;
    font-size: $f24;
    line-height: 1.28;
    padding-top: 68px;
    margin: 0 0 24px;
    max-width: 918px;
    @include media-breakpoint-up(lg) {
      font-size: $f32;
    }
    &:before{
      position: absolute;
      top: 28px;
      left: 0;
      content: "";
      width: 16px;
      height: 13px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0837 0H15.0148V2.75389H13.4778C12.2562 2.75389 11.665 3.36137 11.665 4.61682V5.91277H12.335C14.4236 5.91277 16 7.37072 16 9.35514C16 11.5016 14.4236 13 12.335 13C10.1675 13 8.66995 11.5016 8.66995 9.19315V4.53582C8.66995 1.49844 10.1281 0 13.0837 0ZM4.41379 0H6.34483V2.75389H4.80788C3.58621 2.75389 2.99507 3.36137 2.99507 4.61682V5.91277H3.66502C5.75369 5.91277 7.33005 7.37072 7.33005 9.35514C7.33005 11.5016 5.75369 13 3.66502 13C1.49754 13 0 11.5016 0 9.19315V4.53582C0 1.49844 1.45813 0 4.41379 0Z' fill='%23FF70E0'/%3E%3C/svg%3E%0A");
    }
    p{
      margin: 0;
      line-height: inherit;
    }
  }
  img{
    border-radius: 8px;
  }
  .wp-caption{
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .wp-caption-text{
    margin: 0;
    padding: 8px 12px 0;
    font-size: $f12;
    color: $gray-600;
    letter-spacing: 0.023em;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 40px;

      &:before {
        content: "";
        border: 1px solid $gray-600;
        border-radius: 4px;
        position: absolute;
        left: 10px;
        top: 0.45em;
        width: 12px;
        height: 8px;
      }
    }
  }
}
