ul{
  padding-left: 18px;
}

.fs-56{
    color: var(--bs-heading-color);
    font-size: $f40;
    letter-spacing: -0.04em;
    @include media-breakpoint-up(lg) {
      font-size: $f56;
    }
}

.bottom-border{
  color: var(--ifm-tabs-color);
  display: flex;
  font-weight: var(--ifm-font-weight-bold);
  margin: 0;
  gap: 12px;
  overflow-x: auto;
  padding: 0 0 2px;
  position: relative;
  scrollbar-width: thin;

}

.markdown {
  h1, h2, h3, h4, h5, h6 {
    margin: 32px 0 12px;
  }
  & > h1:first-child, header > h1 {
    color: var(--bs-heading-color);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: $f40;
    letter-spacing: -0.04em;
    margin: 0;
    @include media-breakpoint-up(lg) {
      font-size: $f56;
    }

    & + * {
      margin-top: 32px;
    }
  }
  & >, & {
    ul, p, pre, ol{
      margin-bottom: 12px;
    }
  }
  .accordion{
    margin-bottom: 12px;
  }
  blockquote {
    margin: 0 0 12px 0;
    padding: 12px 0 12px 18px;
    & > :first-child{
      margin-top: 0;
    }
    & > :last-child{
      margin-bottom: 0;
    }
  }
  a:not(.hash-link){
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  ul, ol{
    padding-left: 1.13rem;
    li + li{
      margin-top: 4px;
    }
    li > :last-child:not(img){
      margin-bottom: 0;
    }
    ul, ol{
      margin-top: 4px;
    }
  }
  ol {
    list-style-type: none;
    counter-reset: items;
    padding-left: 2.2em;
    & > li{
      counter-increment: items;
      position: relative;
      &:before {
        content: "0" counter(items);
        font-weight: 400;
        letter-spacing: 0.05em;
        position: absolute;
        left: -1.8em;
        top: 0em;
      }

      &:nth-child(n+10):before {
        content: counter(items);
      }
    }
  }
  @for $i from 1 through 20 {
    ol[start="#{$i}"] {
      counter-reset: items ($i - 1) ;
    }
  }
  code{
    --ifm-code-border-radius:4px;
    font-weight: 400;
    word-break: break-word;
  }
  pre{
    margin-top: 12px;
    border: 1px solid var(--rsk-codeblock-border-color);
    background-color: var(--bs-body-bg) !important;
  }

  iframe{
    width: 100%;
    display: block;
    border: 1px solid var(--rsk-image-border-color);
    border-radius: 10px;
    margin: 12px 0;
    &[src*="youtu"], &[src*="vimeo"]{
      height: auto;
      aspect-ratio: 16/9;
    }

  }

  table{
    @include media-breakpoint-up(lg) {
      display: table;
    }
    &, tbody{
      width: 100%;
    }
    th, td{
      border-width:0 0 1px;
      & > :last-child{
        margin-bottom: 0;
      }
      @include media-breakpoint-down(lg) {
        min-width: 120px;
      }
    }
    tr{
      border: none;
    }
    td{
      background-color: var(--rsk-table-td-bg);
    }
    th{
      background-color: var(--rsk-table-th-bg);
    }
  }

  img:not([src*="shields.io"]){
    border: 1px solid var(--rsk-image-border-color);
    border-radius: 10px;
    max-height: 500px; //TODO test if works for all images
    object-fit: contain;
    margin-top: 12px;
    margin-bottom: 12px;
    @include media-breakpoint-up(md) {
      max-height: 560px;
    }
  }
  p > img:first-child{
    margin-top: 0;
  }
  p > img:last-child{
    margin-bottom: 0;
  }

  .btn.w-fit + .btn.w-fit{
    margin-top: 12px;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child{
    margin-bottom: 0;
  }
}
code{
  color: var(--ifm-code-color);
  border: none;
  border-radius: 4px;
}
mark, .mark{
  padding: 0 0.15em;
}
