.text-block, .rl-post-content {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p{
    line-height: 1.5;
  }

  .wp-caption {
    width: auto !important;
  }

  a {
    color: inherit;
    text-decoration: underline;
    font-weight: 700;
    text-underline-offset: 0.1em;

    &:hover {
      text-decoration: none;
    }
  }

  h2, h3, h4, h5 {
    font-size: $f22;
    margin-bottom: 32px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.5;
  }

  h4, h5 {
    font-size: $f20;
  }
  ul{
    padding-left: 1.5rem;
  }
  ol, ul {
    margin-bottom: 24px;
    li + li {
      margin-top: 4px;
    }
  }
  ol{
    list-style-type: decimal-leading-zero;
    padding-left: 32px;
    ::marker {
      color: $gray-600;
      font-size: $f18;
      line-height: 1;
    }
    li{
      padding-left: 8px;
    }
  }
  blockquote {
    margin: 24px 18px;
  }

}

.markdown{
  h1{
    background-color: var(--rsk-title-block-bg);
    color: var(--rsk-title-block-color);
    padding: 0px 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
    line-height: 1.4;
    font-size: $f40;
    letter-spacing: -0.04em;
    @include media-breakpoint-up(lg) {
      font-size: $f56;
    }
    & + *{
      margin-top: 32px;
    }
  }
}
