[type='checkbox'] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--rsk-checkbox-border-color, #575757);
  background: transparent no-repeat 0% 46%;
  transition: background-color 0.15s ease-in-out;

  &:checked {
    --rsk-checkbox-border-color: var(--rsk-checkbox-bg, var(--bs-purple));
    background-color: var(--rsk-checkbox-bg, var(--bs-purple));
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.9 5.84-.71-.73a.37.37 0 0 0-.54 0l-4.42 4.5-1.88-1.93a.37.37 0 0 0-.53 0l-.7.72a.4.4 0 0 0-.01.55l2.84 2.94c.15.15.39.15.53 0l5.4-5.5a.4.4 0 0 0 .01-.55Z' fill='%23000'/%3E%3C/svg%3E");
  }
}

/* clears the ‘X’ from search field  */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

label {
  cursor: pointer;
}

.form-control {
  font: 400 #{$f14}/1.2 $font-family-base;
  padding: 11px 15px;
  border-radius: 8px;
  border: 1px solid var(--rsk-input-border-color, #3D3D3D);
  background: var(--rsk-input-bg, #1A1A1A);
  color: var(--rsk-input-color, var(--bs-body-color));

  &::placeholder {
    color: var(--rsk-input-placeholder-color, #8C8C8C);
  }

  &:focus {
    outline: none;
    border-color: var(--rsk-input-border-color-focus, var(--bs-primary));
    box-shadow: none;
    background: var(--rsk-input-focus-bg, #1A1A1A);
  }

  &--xl{
    --rsk-input-focus-bg: var(--bs-body-bg);
    --rsk-input-bg: var(--bs-body-bg);
    font: 400 #{$f20}/1.2 $font-family-base;
    padding: 14px 24px;
    border-radius: 28px;
    letter-spacing: 0.01em;
  }
}
.input-group-text{
  border-color: var(--rsk-input-border-color, #3D3D3D);
}
.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.295L12 12.875L7.41 8.295L6 9.705L12 15.705L18 9.705L16.59 8.295Z' fill='black'/%3E%3C/svg%3E%0A");

  [data-theme='dark'] & {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.295L12 12.875L7.41 8.295L6 9.705L12 15.705L18 9.705L16.59 8.295Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
.form-check-input:checked[type=radio]{
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
  [data-theme='dark']:root & {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
}
