html:root {
  --doc-sidebar-width: 260px;
  --doc-sidebar-hidden-width: 48px;
  @include media-breakpoint-up(xl) {
    --doc-sidebar-width: 315px;
  }

  --ifm-container-width: 1440px;
  --ifm-container-width-xl: 1440px;

  --rsk-navbar-height: 92px;
  @include media-breakpoint-up(lg) {
    --rsk-navbar-height: 104px;
  }

  --ifm-z-index-fixed: 200;

  --bs-primary: #{$orange-light};
  --bs-primary-rgb: 230, 131, 0;
  --bs-pink: #{$pink-light};
  --bs-purple: #{$purple-light};
  --bs-yellow: #{$purple-light};
  --bs-orange: #{$orange-light};
  --bs-green: #{$green-light};
  --bs-cyan: #{$green-light};

  --bs-contrast: var(--bs-black);
  --rsk-contrast-color: var(--bs-white);

  --bs-border-color: #{$gray-600};
  --bs-body-bg: #{$bw};
  --bs-link-color-rgb: 230, 131, 0;

  --bs-primary: var(--bs-orange);
  --rsk-color-main: var(--bs-orange);
  --ifm-color-primary: var(--bs-orange);

  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-color-content-secondary: #{$gray-600};

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  //Search
  --docsearch-muted-color: #{$gray-700};
  --docsearch-border-color: #{$gray-200};

  //Navbar
  --ifm-navbar-padding-vertical: 16px;
  --ifm-navbar-padding-horizontal: 16px;

  --bs-nav-title-color: var(--bs-purple);

  --rsk-navbar-border-color: #{$gray-600}; //Only for mobile

  --ifm-navbar-height: auto;
  --ifm-navbar-background-color: var(--bs-body-bg);
  --ifm-navbar-item-padding-horizontal: 20px;
  --ifm-navbar-item-padding-vertical: 17px;

  --ifm-navbar-link-hover-color: var(--bs-body-bg);
  --ifm-navbar-item-hover-bg: var(--bs-body-color);
  --ifm-navbar-item-hover-border-color: var(--bs-body-bg);

  --ifm-navbar-link-active-color: var(--bs-body-bg);
  --ifm-navbar-item-active-bg: var(--bs-body-color);
  --ifm-navbar-item-active-border-color: var(--bs-body-bg);

  --ifm-navbar-shadow: none;
  --ifm-navbar-search-input-background-color: var(--ifm-color-emphasis-200);
  --ifm-navbar-search-input-color: var(--ifm-color-emphasis-800);
  --ifm-navbar-search-input-placeholder-color: var(--ifm-color-emphasis-500);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  --ifm-navbar-sidebar-width: 100vw;
  @include media-breakpoint-up(md) {
    --ifm-navbar-sidebar-width: 83vw;
  }
  //Typography
  --bs-heading-font-family: #{$headings-font-family};
  --rsk-caption-color: var(--bs-gray-600);
  --ifm-font-weight-bold: 700;

  //Sidebar
  --ifm-menu-color: var(--bs-body-color);
  --doc-sidebar-hidden-width: 40px;
  --ifm-menu-color-active: var(--rsk-color-main);
  --ifm-menu-color-background-active: none;
  --ifm-menu-color-background-hover: none;

  --ifm-breadcrumb-color-active: var(--rsk-color-main);

  --ifm-link-color: var(--rsk-color-main);
  --ifm-link-hover-color: var(--rsk-color-main);

  --ifm-pagination-nav-color-hover: var(--rsk-color-main);

  --rsk-menu-link-index-bg: var(--bs-gray-150);

  //Aside
  --ifm-toc-border-color: rgba(var(--bs-body-color-rgb), 0.2);

  //TOC
  --ifm-toc-padding-horizontal: 10px;
  --ifm-toc-padding-vertical: 0;

  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 8.3-6 6 1.41 1.4L12 11.13l4.59 4.57L18 14.3l-6-6Z' fill='%23000'/%3E%3C/svg%3E");;

  //Color Mode
  --rsk-color-mode-bg: #08FFD1; //TODO: change to css var
  --rsk-color-mode-btn-bg: #09CDA9; //TODO: change to css var
  --colormode-background: #{$gray-100};
  --colormode-btn-bg: white;


  //Footer
  --ifm-footer-background-color: var(--bd-body-bg);
  --ifm-footer-color: var(--bd-body-color);

  --ifm-footer-padding-vertical: 0;
  --ifm-footer-padding-horizontal: 0;
  --ifm-footer-link-color: var(--bs-body-color);
  --ifm-footer-link-hover-color: var(--bs-primary);

  //
  --rsk-last-updated-color: var(--bs-gray-500);

  @include media-breakpoint-up(md) {
    --ifm-navbar-padding-vertical: 24px;
    --ifm-navbar-padding-horizontal: 16px;
  }
  @include media-breakpoint-up(lg) {
    --ifm-navbar-padding-horizontal: 0;
    --ifm-navbar-padding-horizontal: 0;
  }

  //Paginator
  --rsk-paginator-link-color: var(--bs-body-color);
  --rsk-paginator-link-bg: var(--bs-body-bg);
  --rsk-paginator-link-border-color: var(--bs-body-color);

  --rsk-paginator-link-hover-color: var(--bs-body-bg);
  --rsk-paginator-link-hover-bg: var(--bs-body-color);

  //Block title
  --rsk-title-block-color: var(--bs-black);
  --rsk-title-block-bg: var(--rsk-color-main);

  //Markdown
  --ifm-leading: 0.75rem;
  --ifm-code-border-radius: 8px;
  --ifm-code-padding-horizontal: 4px;

  --ifm-code-background: #{$purple-4};
  --bs-code-color: #{$purple-light};
  --ifm-code-color: #{$purple-light};

  --ifm-list-paragraph-margin: 12px;

  --ifm-pre-padding: 16px;
  --rsk-codeblock-border-color: #{$gray-150};

  --ifm-global-shadow-lw: none;

  --ifm-table-border-width: 1px;
  --ifm-table-cell-padding: 16px 12px;

  --ifm-table-border-color: #{$gray-300};
  --ifm-table-background: #{$gray-100};
  --rsk-table-td-bg: #{$gray-100};
  --rsk-table-th-bg: #{$gray-150};

  --ifm-blockquote-border-color: var(--bs-body-color);
  --ifm-blockquote-shadow: none;

  --rsk-image-border-color: #{$gray-300};

  //Tags
  --rsk-tag-border-color: #{$gray-300};
  --rsk-tag-bg: #{$white};
  --rsk-tag-color: #{$black};

  --rsk-tag-hover-color: #{$white};
  --rsk-tag-hover-bg: #{$black};

  //Breadcrumbs
  --ifm-breadcrumb-separator: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.47 8-4-4-.94.94L8.58 8l-3.05 3.06.94.94 4-4Z' fill='%23000'/%3E%3C/svg%3E");
  --ifm-breadcrumb-item-background-active: none;

  //Reading Time
  --rsk-reading-time-color: #{$gray-500};

  // Admonitions
  --ifm-alert-background-color: inherit;
  --ifm-alert-border-color: inherit;
  --ifm-alert-border-radius: 10px;
  --ifm-alert-border-width: 0px;
  --ifm-alert-border-left-width: 0;
  --ifm-alert-color: var(--ifm-font-color-base);
  --ifm-alert-shadow: none;

  --ifm-color-secondary-contrast-background: #{$gray-150};
  --ifm-color-secondary-contrast-highlight: #{$gray-250};

  --ifm-color-success-contrast-background: #{$green};
  --ifm-color-success-contrast-highlight: #{$green-2};

  --ifm-color-danger-contrast-background: #{$red};
  --ifm-color-danger-contrast-highlight: #{$red-2};

  --ifm-color-warning-contrast-background: #{$orange};
  --ifm-color-warning-contrast-highlight: #{$orange-2};

  --ifm-color-info-contrast-background: #{$cyan};
  --ifm-color-info-contrast-highlight: #{$cyan-3};

  --ifm-color-tip-contrast-background: #{$yellow-light};
  --ifm-color-tip-contrast-highlight: #{$yellow-2};

  //Tabs
  --ifm-tabs-color: var(--bs-body-color);
  --rsk-tabs-border-color: var(--rsk-color-main);

  --rsk-tabs-active-bg: transparent;
  --rsk-tabs-active-border-color: var(--rsk-color-main);
  --rsk-tabs-active-color: var(--bs-body-color);

  --rsk-tabs-hover-color: var(--bs-body-color);
  --rsk-tabs-hover-bg: transparent;
  --rsk-tabs-hover-border-color: var(--rsk-color-main);

  --ifm-tabs-padding-vertical: 8px;
  --ifm-tabs-padding-horizontal: 0px;

  //Accordion
  --rsk-accordion-hover-color: var(--rsk-color-main);
  --rsk-accordion-toggle-color: var(--bs-body-color);
  --rsk-accordion-btn-icon: #{url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.06 5.53 8 8.58 4.94 5.53 4 6.47l4 4 4-4-.94-.94Z' fill='%23000'/%3E%3C/svg%3E")};

  //Card
  --ifm-card-background-color: var(--bs-body-bg);
  --ifm-card-border-color: var(--bs-body-color);
  --ifm-card-color: var(--bs-body-color);
  --ifm-card-border-radius: 20px;

  //Forms
  --rsk-input-border-color: #{$gray-200};
  --rsk-input-bg: #{$gray-100};
  --rsk-input-color: var(--bs-body-color);
  --rsk-input-placeholder-color: #{$gray-550};
  --rsk-input-border-color-focus: var(--bs-primary);
  --rsk-input-focus-bg: #{$gray-100};

  --bs-tertiary-bg: #{$gray-100};

  //Highlight
  --bs-highlight-bg: #{$yellow};

  //Steps component
  --rsk-step-border-color: #{$gray-250};
  --rsk-step-bg-color: #{$gray-50};
}


[data-theme='dark']:root {
  --bs-primary: #{$orange};
  --bs-primary-rgb: 255, 145, 0;

  --bs-pink: #{$pink};
  --bs-purple: #{$purple};
  --bs-yellow: #{$yellow};
  --bs-orange: #{$orange};
  --bs-green: #{$green};
  --bs-cyan: #{$cyan};

  --bs-border-color: #{$white};

  --bs-contrast: var(--bs-white);
  --rsk-contrast-color: var(--bs-black);

  --ifm-color-primary: #ff9100;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-color-content-secondary: #{$gray-500};
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--bs-black);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-link-color-rgb: 255, 145, 0;

  --ifm-menu-color: var(--bs-body-color);
  --ifm-navbar-link-color: var(--bs-white);
  --ifm-navbar-item-border-color: var(--bs-white);

  --rsk-menu-link-index-bg: var(--bs-gray-900);

  //Search
  --docsearch-muted-color: #{$gray-300};
  --docsearch-border-color: #{$gray-800};

  //Color Mode
  --rsk-color-mode-bg: #FF9100;
  --rsk-color-mode-btn-bg: #FF9100;
  --colormode-background: #3d3d3d;
  --colormode-btn-bg: black;

  //Aside
  --ifm-toc-border-color: rgba(var(--bs-body-color-rgb), 0.2);

  //Markdown
  --ifm-code-background: #{$purple-3};
  --bs-code-color: #{$purple};
  --ifm-code-color: #{$purple};

  --rsk-codeblock-border-color: #{$gray-800};

  --ifm-table-border-color: #{$gray-700};
  --ifm-table-background: #{$gray-900};
  --rsk-table-td-bg: #{$gray-900};
  --rsk-table-th-bg: #{$gray-800};

  --rsk-image-border-color: #{$gray-800};

  //Tags
  --rsk-tag-border-color: #{$gray-800};
  --rsk-tag-bg: #{$black};
  --rsk-tag-color: #{$white};

  --rsk-tag-hover-color: #{$black};
  --rsk-tag-hover-bg: #{$white};

  //Breadcrumbs
  --ifm-breadcrumb-separator: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.47 8-4-4-.94.94L8.58 8l-3.05 3.06.94.94 4-4Z' fill='%23fff'/%3E%3C/svg%3E");

  //Typography
  --rsk-caption-color: #{$gray-500};


  // Admonitions
  --ifm-color-secondary-contrast-background: #{$gray-850};
  --ifm-color-secondary-contrast-highlight: #{$gray-750};

  --ifm-color-success-contrast-background: #{$green};
  --ifm-color-success-contrast-highlight: #{$green-2};

  --ifm-color-danger-contrast-background: #{$red};
  --ifm-color-danger-contrast-highlight: #{$red-2};

  --ifm-color-warning-contrast-background: #{$orange};
  --ifm-color-warning-contrast-highlight: #{$orange-2};

  --ifm-color-info-contrast-background: #{$cyan};
  --ifm-color-info-contrast-highlight: #{$cyan-3};

  --ifm-color-tip-contrast-background: #{$yellow};
  --ifm-color-tip-contrast-highlight: #{$yellow-2};

  //Accordion
  --rsk-accordion-btn-icon: #{url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.06 5.53 8 8.58 4.94 5.53 4 6.47l4 4 4-4-.94-.94Z' fill='%23fff'/%3E%3C/svg%3E")};

  //Tabs
  --ifm-tabs-color: var(--bs-body-color);

  //Forms
  --rsk-input-border-color: #{$gray-800};
  --rsk-input-bg: #{$gray-900};
  --rsk-input-color: var(--bs-body-color);
  --rsk-input-placeholder-color: #{$gray-450};
  --rsk-input-border-color-focus: var(--bs-primary);
  --rsk-input-focus-bg: #{$gray-900};
  --bs-tertiary-bg: #{$gray-850};

  //Steps component
  --rsk-step-border-color: #{$gray-600};
  --rsk-step-bg-color: #{$gray-850};
}
