@each $size, $headers in $headings-styles {
  @include media-breakpoint-up($size) {
    @each $header, $header-defs in $headers {
      #{$header}, .#{$header} {

        @if map-has-key($header-defs, font-size) {
          font-size: map-get($header-defs, font-size);
        }
        @if map-has-key($header-defs, letter-spacing) {
          letter-spacing: map-get($header-defs, letter-spacing);
        }
        @if map-has-key($header-defs, line-height) {
          line-height: map-get($header-defs, line-height);
        }
        @if map-has-key($header-defs, margin-top) {
          margin-top: map-get($header-defs, margin-top);
        }
        @if map-has-key($header-defs, margin-bottom) {
          margin-bottom: map-get($header-defs, margin-bottom);
        }
      }
    }
  }
}

.h0{
  font:700 #{$f48}/0.84 $headings-font-family;
  letter-spacing: -0.04em;
  @include media-breakpoint-up(md) {
    font-size: $f96;
  }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  letter-spacing: -0.024em;
}
.title-s{
  font: 400 #{$f12}/1 $font-family-base;
  letter-spacing: -0.024em;
  text-transform: uppercase;
}
.caption {
  font: 400 #{$f10}/1.6 $font-family-base;
  color: var(--rsk-caption-color);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.letter-spacing-6{
  letter-spacing: -0.06em;
}

.link-base{
  color: var(--bs-body-color);
  &:hover {
    color: var(--bs-primary);
  }
}

.text-body{
  color: var(--bs-body-color) !important;
}
.subtitle-1{
  font: 700 #{$f20}/1.2 $font-family-base;
  letter-spacing: -0.024em;
  @include media-breakpoint-up(lg) {
    font-style: $f28;
  }
}
.subtitle-2{
  font: 400 #{$f20}/1.2 $font-family-base;
  letter-spacing: 0.024em;
}
.subtitle-3{
  font: 700 #{$f16}/1.25 $font-family-base;
  letter-spacing: -0.04em;
}
.badge{
  letter-spacing: 0.05em;
}
.text-purple{
  color: var(--bs-purple);
}
