@media (min-width: 997px) {
  .tableOfContents {
    max-height: 40svh;
    overflow: auto;
  }
}
@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
