.Card{
  --rsk-card-main-color: var(--bs-orange);
  a:not([class*="btn"]){
    color: var(--rsk-card-main-color);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  li + li {
    margin-top: 8px;
  }
}
