$enable-smooth-scroll: false;

// Color system

// scss-docs-start gray-color-variables
$white: #ffffff;
$gray-100: #F0F0F0;
$gray-200: #D6D6D6;
$gray-300: #BDBDBD;
$gray-400: #A3A3A3;
$gray-500: #8A8A8A;
$gray-600: #707070;
$gray-700: #575757;
$gray-800: #3D3D3D;
$gray-850: #2F2F2D;
$gray-900: #1A1A1A;

$gray-50: #F2F2F2;
$gray-150: #D9D9D9;
$gray-250: #BFBFBF;
$gray-350: #A6A6A6;
$gray-450: #8C8C8C;
$gray-550: #737373;
$gray-650: #595959;
$gray-750: #404040;
$gray-850: #262626;
$gray-950: #0D0D0D;

$black: #000000;
$black-800: #121212;

$red: #F25E5E;
// scss-docs-start color-variables
$brand-white: #FAF9F5;
$bw: #FAFAF5;

$orange: #FF9100;
$purple: #9E75FF;
$cyan: #08FFD1;
$yellow: #DEFF1A;
$pink: #FF70E0;
$green: #78C700;
$contrast: $white;

$orange-light: #E68300;
$purple-light: #966FF2;
$cyan-light: #07E5BC;
$yellow-light: #C8B401;
$pink-light: #FF70E0;
$green-light: #72BD00;
$contrast-light: $black;

$purple-light: #966FF2;

$orange-2: #FFC77C;
$cyan-2: #09CDA9;
$green-2: #CDFF80;
$yellow-2: #FDFCD8;

$cyan-3: #E0FFF9;

$purple-2: #7247D9;
$purple-3: #28203C;
$purple-4: #E3DEEF;


$red-2: #FFB5B5;

$blue: #BFCFF8;

// scss-docs-start theme-color-variables
$primary: $orange;
$secondary: $blue;
$blue-rif: #4B5CF0;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "blue" : $blue,
  //"pink": $pink,
  //"purple": $purple,
  //"red": $red,
  //"yellow": $yellow,
  //"orange": $orange,
  //"green": $green,
  //"cyan": $cyan,
  "white": $white,
  "black": $black,
  "black-800": $black-800,
  "gray": $gray-500,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "gray-50": $gray-50,
  "gray-150": $gray-150,
  "gray-250": $gray-250,
  "gray-350": $gray-350,
  "gray-450": $gray-450,
  "gray-550": $gray-550,
  "gray-650": $gray-650,
  "gray-750": $gray-750,
  "gray-850": $gray-850,
  "gray-950": $gray-950,
);
// grid settings
$grid-columns: 12;
$grid-gutter-width: 24px;
$grid-breakpoints: (
  xs: 0,
  //sm: 576px,
  md: 768px,
  lg: 997px,
  xl: 1200px,
  xxl: 1400px,
  //x2l: 1600px,
);
// container width
$container-max-widths: (
  //sm: 540px,
  //md: 720px,
  //lg: 960px,
  //xl: 1140px,
  xl: 1440px,
);

$font-size-base: 14px;
$body-bg: $white;
$body-color: $black;
$paragraph-margin-bottom: 24px;

// container padding
$container-padding: (
  xs : 16px,
  md : 16px,
  lg : 24px,
  xl : 48px,
);

// offcanvas settings
$offcanvas-border-width: 0;
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: .5;

// Modal
$modal-content-color: $black;
$modal-footer-bg: $white;
// Offcanvas

// scss-docs-start offcanvas-variables
$offcanvas-padding-y: 24px;
$offcanvas-padding-x: 16px;
$offcanvas-horizontal-width: 400px;
$offcanvas-vertical-height: 100vh;
$offcanvas-transition-duration: .3s;
$offcanvas-border-color: $modal-content-border-color;
$offcanvas-border-width: $modal-content-border-width;
$offcanvas-title-line-height: $modal-title-line-height;
$offcanvas-bg-color: $modal-content-bg;
$offcanvas-color: $modal-content-color;
$offcanvas-box-shadow: $modal-content-box-shadow-xs;
$offcanvas-backdrop-bg: $modal-backdrop-bg;
$offcanvas-backdrop-opacity: $modal-backdrop-opacity;
// scss-docs-end offcanvas-variables

$link-decoration: none;
$link-color: $orange;
$link-hover-color: $link-color;
$link-decoration: none;
$link-hover-decoration: none;

$blur: 10px;

// fonts settings
$font-family-base: 'Rootstock Sans', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: $font-family-base;
$line-height-base: 1.5;
$font-weight-base: 400;
$headings-font-family: 'Rootstock Sans', Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 700;
$headings-line-height: 1;

// position variations
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
);

// spacers variations
$spacers: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  8: 8px,
  9: 9px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  28: 28px,
  30: 30px,
  32: 32px,
  34: 34px,
  36: 36px,
  40: 40px,
  42: 42px,
  44: 44px,
  48: 48px,
  50: 50px,
  52: 52px,
  54: 54px,
  56: 56px,
  58: 58px,
  60: 60px,
  65: 65px,
  64: 64px,
  66: 66px,
  68: 68px,
  70: 70px,
  72: 72px,
  74: 74px,
  76: 76px,
  80: 80px,
  84: 84px,
  88: 88px,
  90: 90px,
  92: 92px,
  100: 100px,
  110: 110px,
  112: 112px,
  120: 120px,
  130: 130px,
  140: 140px,
  150: 150px,
  160: 160px,
  180: 180px,
  190: 190px,
  200: 200px,
  220: 220px,
  230: 230px,
  240: 240px,
  250: 250px,
  260: 260px,
  280: 280px,
  300: 300px,
  320: 320px,
);

$enable-negative-margins: true;
$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

// aspect-ratio variations
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

$gutters: $spacers;

// z-index variations
$zindex-levels: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
);

$rounded: (
  0: 0,
  circle: 50%,
  2: 2px,
  4: 4px,
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  56: 56px,
);

$line-height-sm: 1.25;
$line-height-base: 1.35;

$f10: 0.625rem;
$f12: 0.75rem;
$f14: 0.875rem;
$f16: 1rem;
$f18: 1.125rem;
$f20: 1.25rem;
$f22: 1.375rem;
$f24: 1.5rem;
$f26: 1.625rem;
$f28: 1.75rem;
$f30: 1.875rem;
$f32: 2rem;
$f36: 2.25rem;
$f40: 2.5rem;
$f48: 3rem;
$f50: 3.125rem;
$f52: 3.25rem;
$f56: 3.5rem;
$f60: 3.75rem;
$f64: 4rem;
$f70: 4.375rem;
$f78: 4.875rem;
$f80: 5rem;
$f96: 6rem;
$f120: 7.5rem;
$f200: 12.5rem;

$font-sizes: (
  10: $f10,
  12: $f12,
  14: $f14,
  16: $f16,
  18: $f18,
  20: $f20,
  22: $f22,
  24: $f24,
  28: $f28,
  32: $f32,
  36: $f36,
  40: $f40,
  48: $f48,
  52: $f52,
  56: $f56,
  64: $f64,
  70: $f70,
  78: $f78,
  80: $f80,
  120: $f120,
  200: $f200,
);
// heading styles
$headings-styles: (
  xs: (
    'h1': ('font-size': $f28, 'line-height' : 1.12),
    'h2': ('font-size': $f20, 'line-height' : 1.12),
    'h3': ('font-size': $f18, 'line-height' : 1.12),
    'h4': ('font-size': $f16, 'line-height' : 1.12),
    'h5': ('font-size': $f14, 'line-height' : 1.12),
    'h6': ('font-size': $f14, 'line-height' : 1.12),
  ),
  //md: (
  //  'h1': ('font-size': 60px),
  //  'h2': ('font-size': 56px),
  //  'h3': ('font-size': 64px),
  //  'h4': ('font-size': 54px),
  //  'h5': ('font-size': 40px),
  //  'h6': ('font-size': 28px),
  //),
  md: (
    'h1': ('font-size': $f32),
    'h2': ('font-size': $f24),
    'h3': ('font-size': $f20),
    'h4': ('font-size': $f16),
    'h5': ('font-size': $f14),
    'h6': ('font-size': $f14),
  ),
  xl: (
    'h1': ('font-size': $f32),
    'h2': ('font-size': $f24),
    'h3': ('font-size': $f20),
    'h4': ('font-size': $f16),
    'h5': ('font-size': $f14),
    'h6': ('font-size': $f14),
  ),
);


// Navs

// scss-docs-start nav-variables
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;
$nav-link-font-size: null;
$nav-link-font-weight: null;
$nav-link-color: $black;
$nav-link-hover-color: $primary;
$nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-disabled-color: $gray-500;

// Navbar

// scss-docs-start navbar-variables
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-nav-link-padding-x: 0;

//badges

$badge-font-size: 12px;
$badge-font-weight: 500;
$badge-color: $black;
$badge-padding-y: 1px;
$badge-padding-x: 4px;
$badge-border-radius: 1.2em;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables
$input-btn-padding-y: 15px;
$input-btn-padding-x: 10px;
$input-btn-font-family: $font-family-base;
$input-btn-font-size: $f14;
$input-btn-line-height: 1.2;

$btn-padding-y: 10px;
$btn-padding-x: 15px;
$btn-font-family: $font-family-base;
$btn-font-size: $f14;
$btn-line-height: 1.28;
$btn-white-space: nowrap; // Set to `nowrap` to prevent text wrapping


$btn-border-width: 1px;

$btn-font-weight: 400;
$btn-box-shadow: 3px 4px 0 0 $gray-500;
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: 1px 2px 0 0 $black-800;
$btn-disabled-opacity: .65;
$btn-active-box-shadow: 0px 0px 0 0 $black-800;

$btn-padding-y-sm: 7px;
$btn-padding-x-sm: 8px;
$btn-font-size-sm: $f12;

$btn-padding-y-lg: 18px;
$btn-padding-x-lg: $btn-padding-x;
$btn-font-size-lg: $f14;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 40px;
$btn-border-radius-sm: 40px;
$btn-border-radius-lg: 40px;

//spinners
$spinner-width: 16px;
$spinner-height: $spinner-width;
$spinner-vertical-align: -.125em;
$spinner-border-width: 1px;
$spinner-animation-speed: .75s;

$spinner-width-sm: 0.8rem;
$spinner-height-sm: $spinner-width-sm;
$spinner-border-width-sm: 1px;

$accordion-padding-y:                     0;
$accordion-padding-x:                     0;
$accordion-color:                         var(--#{$prefix}body-color);
$accordion-bg:                            var(--#{$prefix}body-bg);
$accordion-border-width:                  0;
$accordion-border-color:                  var(--#{$prefix}border-color);
$accordion-border-radius:                 0;
$accordion-inner-border-radius:           0;

$accordion-body-padding-y:                8px;
$accordion-body-padding-x:                0;

$accordion-button-padding-y:              2px;
$accordion-button-padding-x:              0;
$accordion-button-color:                  var(--#{$prefix}body-color);
$accordion-button-bg:                     transparent;
$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              transparent;
$accordion-button-active-color:           var(--#{$prefix}body-color);

// fusv-disable
$accordion-button-focus-border-color:     transparent; // Deprecated in v5.3.3
// fusv-enable
$accordion-button-focus-box-shadow:       none;

$accordion-icon-width:                    18px;
$accordion-icon-color:                    $body-color;
$accordion-icon-active-color:             $primary-text-emphasis;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);



$accordion-button-icon:         var(--rsk-accordion-btn-icon);
$accordion-button-active-icon: $accordion-button-icon;

$form-select-padding-y:             7px;
$form-select-padding-x:             12px;
$form-select-font-family:           $input-font-family;
$form-select-font-size:             $input-font-size;
$form-select-indicator-padding:     $form-select-padding-x * 3; // Extra padding for background-image
$form-select-font-weight:           $input-font-weight;
$form-select-line-height:           $input-line-height;
$form-select-color:                 $input-color;
$form-select-bg:                    $input-bg;
$form-select-disabled-color:        null;
$form-select-disabled-bg:           $input-disabled-bg;
$form-select-disabled-border-color: $input-disabled-border-color;
$form-select-bg-position:           right 8px center;
$form-select-bg-size:               24px 24px; // In pixels because image dimensions
$form-select-indicator-color:       $white;

$form-select-feedback-icon-padding-end: $form-select-padding-x * 2.5 + $form-select-indicator-padding;
$form-select-feedback-icon-position:    center right $form-select-indicator-padding;
$form-select-feedback-icon-size:        $input-height-inner-half $input-height-inner-half;

$form-select-border-width:        $input-border-width;
$form-select-border-color:        $input-border-color;
$form-select-border-radius:       20px;
$form-select-box-shadow:          var(--#{$prefix}box-shadow-inset);

$form-select-focus-border-color:  $form-select-border-color;
$form-select-focus-width:         $input-focus-width;
$form-select-focus-box-shadow:    none;

$form-select-padding-y-sm:        $input-padding-y-sm;
$form-select-padding-x-sm:        $input-padding-x-sm;
$form-select-font-size-sm:        $input-font-size-sm;
$form-select-border-radius-sm:    $input-border-radius-sm;

$form-select-padding-y-lg:        $input-padding-y-lg;
$form-select-padding-x-lg:        $input-padding-x-lg;
$form-select-font-size-lg:        $input-font-size-lg;
$form-select-border-radius-lg:    $input-border-radius-lg;

$form-select-transition:          $input-transition;

$form-check-input-checked-bg-color:     #{'var(--bs-body-bg)'};
$form-check-input-checked-border-color: #{'var(--bs-body-color)'};
$form-check-input-focus-box-shadow: 0 0 0 0.20rem rgba(var(--bs-body-color-rgb), 0.15)
