.header{
  --header-color: #{$black-800};
  --header-bg-color: #{$gray-200};
  color: var(--header-color);
  background-color: var(--header-bg-color);
  transition: background-color 0.2s ease;
  transition-property: background-color, color;
  z-index: $zindex-offcanvas + 1;
  .modal-open &{
    --header-color: #{$gray-200};
    --header-bg-color: #{$black-800};
  }
}
.header-front{
  .sw-header-logo{
    will-change: transform;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transition-property: transform;
    display: block;
    width: fit-content;
    transform: translateY(-200%);
  }
  &.active{
    .sw-header-logo{
      transform: translateY(0);
    }
  }
}
