.navbar__title{
  font: 500 #{$f26}/0.7 var(--bs-body-font-family);
  letter-spacing: -0.04em;
  padding-left: 12px;
  border-left: 1px solid var(--bs-body-color);
  margin-left: 8px;
  margin-top: 2px;
  order: 3;
}
.navbar{
  @include media-breakpoint-down(lg) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
  }
  &__inner{
    @include media-breakpoint-down(lg) {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--rsk-navbar-border-color);
    }
    @include media-breakpoint-down(md) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  &__toggle{
    margin: 0;
  }
  &__item{
    @include media-breakpoint-down(lg) {
      display: flex !important;
    }
  }
  &__link{
    font: 700 #{$f16}/1 $font-family-base;
    letter-spacing: -0.02em;
    border-radius: 10px;
    @include media-breakpoint-up(lg) {
      font-size: $f18;
    }
    &:hover{
      color: var(--ifm-navbar-link-hover-color);
      border-color: var(--ifm-navbar-item-hover-border-color);
      background-color: var(--ifm-navbar-item-hover-bg);
    }
    &--active, &:active{
      color: var(--ifm-navbar-link-active-color);
      border-color: var(--ifm-navbar-item-active-border-color);
      background-color: var(--ifm-navbar-item-active-bg);
    }
  }
  &__brand{
    &, &:hover, &:active{
      color: currentColor;
    }
  }
}
.dropdown > .navbar__link:after{
  border: none;
  width: 16px;
  height: 16px;
  background: var(--ifm-menu-link-sublist-icon) 50%;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  transform: rotate(180deg);
  background-size: 16px 16px;
}
.locale-dropdown{
  .navbar__item{
    padding: 0;
    display: block;
  }
  .navbar__link{
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 40px;
    border: 1px solid var(--bs-body-color);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    letter-spacing: -0.01em;
    &:after{
      margin: 0;
      top: 0;
    }
    &:hover{
      &:after{
        --ifm-menu-link-sublist-icon-filter: invert(100%) sepia(94%) saturate(17%)
        hue-rotate(223deg) brightness(104%) contrast(98%);
        html[data-theme='dark'] &{
          --ifm-menu-link-sublist-icon-filter: none;
        }
      }
    }
  }
  .dropdown__menu{
    top: 100%;
    right: auto;
    left: 50%;
    width: fit-content;
    max-width: 10rem;
    min-width: initial;
    transform: translate(-50%, 6px);
    .locale-mobile &{
      top: auto;
      bottom: 100%;
      margin: 0;
      transform: translate(-50%, -6px);
    }
  }
  .dropdown--hoverable:hover,
  .dropdown--show{
    .dropdown__menu {
      transform: translate(-50%, 0px);
    }
  }
}
