.navbar__title{
  font: 500 #{$f26}/0.7 var(--bs-body-font-family);
  letter-spacing: -0.04em;
  padding-left: 12px;
  border-left: 1px solid var(--bs-body-color);
  margin-left: 8px;
  margin-top: 2px;
  order: 3;
}
.navbar{
  @include media-breakpoint-down(lg) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
  }
  &__inner{
    @include media-breakpoint-down(lg) {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--rsk-navbar-border-color);
    }
    @include media-breakpoint-down(md) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  &__toggle{
    margin: 0;
  }
  &__item{
    @include media-breakpoint-down(lg) {
      display: flex !important;
    }
  }
  &__link{
    font: 700 #{$f16}/1 $font-family-base;
    letter-spacing: -0.02em;
    border-radius: 10px;
    @include media-breakpoint-up(lg) {
      font-size: $f18;
    }
    &:hover{
      color: var(--ifm-navbar-link-hover-color);
      border-color: var(--ifm-navbar-item-hover-border-color);
      background-color: var(--ifm-navbar-item-hover-bg);
    }
    &--active, &:active{
      color: var(--ifm-navbar-link-active-color);
      border-color: var(--ifm-navbar-item-active-border-color);
      background-color: var(--ifm-navbar-item-active-bg);
    }
  }
  &__brand{
    &, &:hover, &:active{
      color: currentColor;
    }
  }
}
