.Carousel{
  @media (max-width: 767px) {
    [class*="splide__track"]{
      margin: 0;
      padding: 0 20px !important;
    }
  }
  @media (min-width: 768px) {
    [class*="splide__track"]{
      margin: 0;
      padding: 30px 0;
    }
    [class*="is-active"]{
      z-index: 2;
      [class*="slide-wrap"]{
        transform: scale(1.2);
      }
    }
  }
  [class*="slide-wrap"]{
    display: block;
    transition: transform 0.3s ease-in-out;
    background: black;
    border: 1px solid var(--rsk-image-border-color);
    border-radius: 10px;
    overflow: hidden;
  }
  a[class*="slide-wrap"]:hover{
    img{
      transform: scale(1.03);
    }
  }
  img{
    width: 100%;
    margin: 0;
    max-height: initial;
    aspect-ratio: var(--rsk-carousel-image-ratio, 370/206);
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
}
