.tocCollapsible {
  margin: 0 0 24px;
  border-bottom: 1px solid var(--rsk-navbar-border-color);
}

.tocCollapsibleContent {
  & > ul {
    margin-bottom: 16px;
  }
}


.tocCollapsibleExpanded {
  transform: none;
}
