.cardContainer {
  --ifm-link-color: var(--ifm-card-color);
  --ifm-link-hover-color: var(--rsk-color-main);
  --ifm-link-hover-decoration: none;
  color: var(--ifm-card-color);
  border: 1px solid var(--ifm-card-border-color);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-card-color);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
}
