openapi: "3.0.3"
info:
  title: "RSKj JSON-RPC"
  version: "x.y.z"
  description: "This API lets you interact with a RSK client via JSON-RPC. Use the **Servers** section to pick Testnet or Mainnet and set your API key."
  license:
    name: "GNU Lesser General Public License"
    url: "https://www.gnu.org/licenses/lgpl-3.0.en.html"
servers:
  - url: "https://rpc.testnet.rootstock.io/{apiKey}"
    description: "Rootstock Testnet JSON-RPC (replace apiKey with your API key)"
    variables:
      apiKey:
        default: "YOUR_API_KEY"
        description: "API key segment from the Rootstock RPC dashboard"
  - url: "https://rpc.mainnet.rootstock.io/{apiKey}"
    description: "Rootstock Mainnet JSON-RPC (replace apiKey with your API key)"
    variables:
      apiKey:
        default: "YOUR_API_KEY"
        description: "API key segment from the Rootstock RPC dashboard"
paths:
  /eth_blockNumber:
    post:
      tags:
        - "eth"
      operationId: "eth_blockNumber"
      summary: "Returns the number of most recent block."
      description: "**`eth_blockNumber`** - Returns the number of most recent block.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_blockNumber"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 0
                  maxItems: 0
                  items: {}
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_blockNumber"
              params: []
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "blockNumberOrTag"
                    oneOf:
                      - $ref: "#/components/schemas/BlockNumberHex"
                      - $ref: "#/components/schemas/BlockNumberTag"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0xc94"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params: []
  /eth_call:
    post:
      tags:
        - "eth"
      operationId: "eth_call"
      summary: "Executes a new message call (locally) immediately without creating a transaction on the block chain."
      description: "**`eth_call`** - Executes a new message call (locally) immediately without creating a transaction on the block chain.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_call"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/TransactionCreate"
                      - title: "blockRefOrNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockRef"
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberDec"
                          - $ref: "#/components/schemas/BlockNumberTag"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_call"
              params:
                - from: "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d"
                  to: "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb"
                  gas: "0xc350"
                  gasPrice: "0x4a817c800"
                  value: "0xf3dbb76162000"
                  data: "0x0000000000000000000000000000000000000000000000000000000000000000"
                - "latest"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/Bytes"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_call", "params": [{"from": "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d", "to": "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb", "gas": "0xc350", "gasPrice": "0x4a817c800", "value": "0xf3dbb76162000", "data": "0x0000000000000000000000000000000000000000000000000000000000000000"}, "latest"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_call", "params": [{"from": "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d", "to": "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb", "gas": "0xc350", "gasPrice": "0x4a817c800", "value": "0xf3dbb76162000", "data": "0x0000000000000000000000000000000000000000000000000000000000000000"}, "latest"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_call", "params": [{"from": "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d", "to": "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb", "gas": "0xc350", "gasPrice": "0x4a817c800", "value": "0xf3dbb76162000", "data": "0x0000000000000000000000000000000000000000000000000000000000000000"}, "latest"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "transactionData"
          description: "The transaction data"
          required: true
          schema:
            $ref: "#/components/schemas/TransactionCreate"
        - name: "blockRefOrNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockRefOrNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockRef"
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberDec"
              - $ref: "#/components/schemas/BlockNumberTag"
  /eth_chainId:
    post:
      tags:
        - "eth"
      operationId: "eth_chainId"
      summary: "Returns the currently configured chain id"
      description: "Returns the currently configured chain id, a value used in replay-protected transaction signing as introduced by **EIP-155**.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_chainId"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 0
                  maxItems: 0
                  items: {}
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_chainId"
              params: []
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/IntegerHex"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x1e"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_chainId", "params": [], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_chainId", "params": [], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_chainId", "params": [], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params: []
  /eth_coinbase:
    post:
      tags:
        - "eth"
      operationId: "eth_coinbase"
      summary: "Returns the client coinbase address."
      description: "**`eth_coinbase`** - Returns the client coinbase address.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_coinbase"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 0
                  maxItems: 0
                  items: {}
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_coinbase"
              params: []
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/Address"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_coinbase", "params": [], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_coinbase", "params": [], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_coinbase", "params": [], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params: []
  /eth_estimateGas:
    post:
      tags:
        - "eth"
      operationId: "eth_estimateGas"
      summary: "Calculates an estimate of how much gas is necessary to allow the transaction to complete"
      description: "Generates and returns an estimate of how much gas is necessary to allow the transaction to complete. The transaction will not be added to the blockchain. Note that the estimate may be significantly more than the amount of gas actually used by the transaction, for a variety of reasons including EVM mechanics and node performance. \n\n See `eth_call` parameters, expect that all properties are optional. If no gas limit is specified geth uses the block gas limit from the pending block as an upper bound. As a result the returned estimate might not be enough to executed the call/transaction when the amount of gas is higher than the pending block gas limit.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_estimateGas"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/TransactionCreate"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_estimateGas"
              params:
                - from: "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d"
                  to: "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb"
                  gas: "0xc350"
                  gasPrice: "0x4a817c800"
                  value: "0xf3dbb76162000"
                  data: "0x0000000000000000000000000000000000000000000000000000000000000000"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/IntegerHex"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x5208"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_estimateGas", "params": [{"from": "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d", "to": "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb", "gas": "0xc350", "gasPrice": "0x4a817c800", "value": "0xf3dbb76162000", "data": "0x0000000000000000000000000000000000000000000000000000000000000000"}], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_estimateGas", "params": [{"from": "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d", "to": "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb", "gas": "0xc350", "gasPrice": "0x4a817c800", "value": "0xf3dbb76162000", "data": "0x0000000000000000000000000000000000000000000000000000000000000000"}], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_estimateGas", "params": [{"from": "0xa7d9ddbe1f17865597fbd27ec712455208b6b76d", "to": "0xf02c1c8e6114b1dbe8937a39260b5b0a374432bb", "gas": "0xc350", "gasPrice": "0x4a817c800", "value": "0xf3dbb76162000", "data": "0x0000000000000000000000000000000000000000000000000000000000000000"}], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "transactionData"
          description: "The transaction data"
          required: true
          schema:
            $ref: "#/components/schemas/TransactionCreate"
  /eth_gasPrice:
    post:
      tags:
        - "eth"
      operationId: "eth_gasPrice"
      summary: "Returns the current price per gas in wei"
      description: "**`eth_gasPrice`** - Returns the current price per gas in wei\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_gasPrice"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 0
                  maxItems: 0
                  items: {}
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_gasPrice"
              params: []
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "gasPriceResult"
                    description: "Integer of the gas price"
                    $ref: "#/components/schemas/IntegerHex"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x09184e72a000"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_gasPrice", "params": [], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_gasPrice", "params": [], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_gasPrice", "params": [], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params: []
  /eth_getBalance:
    post:
      tags:
        - "eth"
      operationId: "eth_getBalance"
      summary: "Returns the balance of the account of given address, 0 if not fo"
      description: "**`eth_getBalance`** - Returns the balance of the account of given address, 0 if not fo\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getBalance"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/Address"
                      - title: "blockRefOrNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockRef"
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getBalance"
              params:
                - "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
                - "latest"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "integer"
                    type: "string"
                    pattern: "^0x[a-fA-F0-9]+$"
                    description: "Hex representation of the integer, `0x0` if the address is not found"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x0234c8a3397aab58"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getBalance", "params": ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "address"
          description: "Address to check for balance"
          required: true
          schema:
            $ref: "#/components/schemas/Address"
        - name: "blockRefOrNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockRefOrNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockRef"
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
  /eth_getBlockByHash:
    post:
      tags:
        - "eth"
      operationId: "eth_getBlockByHash"
      summary: "Returns information about a block by hash"
      description: "**`eth_getBlockByHash`** - Returns information about a block by hash\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getBlockByHash"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/BlockHash"
                      - title: "fullTransactionObjects"
                        type: "boolean"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getBlockByHash"
              params:
                - "0xf1652d8322a880e520f996f7d28b645814a58a202d7d2ab7f058e5566fe4f9f3"
                - true
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/BlockOrNull"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  number: "0x1b4"
                  hash: "0xf1652d8322a880e520f996f7d28b645814a58a202d7d2ab7f058e5566fe4f9f3"
                  parentHash: "0x9203a97b2595a44e8d31dd7bf607155620dd50982ac282fc776e21a58b2f7795"
                  sha3Uncles: "0x2f752c2e72d38f3677bfa47bd54ec10441141a6415f3be121341d94276dfd732"
                  logsBloom: "0x00000008000000800000000000000000000000000000000000000000000008000000000000040000000000000000000050000000000000000000000000000000000000000000000000000000005000000010000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000200000000000001040000000000000400000000000000000000100000000000000010000000000000000000001000000000000001000001000000000000000000000000000020000000000080200000100000000000000000000000000000000000000000000000000000000000000000000000"
                  transactionsRoot: "0xe94962ab91fe305207670ca17d958ce15bdd553aa6630eba07476c0f35a65b50"
                  stateRoot: "0xa12e5b995ec8056d6c2d2558c6f4e1ab7f0d6d3eaed868e84c00923cf58bb642"
                  receiptsRoot: "0x2cdc6fdc519baad55c4f9d86d1415dbfe21265c6b2ba1f283e1391e015735c42"
                  miner: "0x1fab9a0e24ffc209b01faa5a61ad4366982d0b7f"
                  difficulty: "0x1aa2b738"
                  totalDifficulty: "0x1f61daa8d6"
                  extraData: "0x"
                  size: "0xafe"
                  gasLimit: "0x67c280"
                  gasUsed: "0x0"
                  timestamp: "0x5d1f7c06"
                  transactions:
                    - $ref: "#/components/schemas/TransactionExampleResult"
                  uncles:
                    - "0x6d12270d24b591931974b75c1a753d1db8c22372baf1aaaa79253858caeed52b"
                    - "0x9ea21e7d69ffb54face62769a04b08434d606a40c12e1348c4da348d91a9f5e4"
                  minimumGasPrice: "0x0"
                  bitcoinMergedMiningHeader: "0x000000202d17c9a169c4c93eaf376bc35ff6561d0b743880600f3d8370020000000000008d31ad07fc72224ddd23632463f2119d977defc86f1b0ebf16171225bf9c316c117c1f5d531d041a8046d09f"
                  bitcoinMergedMiningCoinbaseTransaction: "0x000000000000008075aec68cfceb2bda1dcc166c1564517793f90ee07fcd446699d440628290564f6088ac0000000000000000266a24aa21a9ed08ade7f48a09603efcf910361380e3ce1ebc9813eb4a7d85473a9c170d79017e00000000000000002a6a52534b424c4f434b3ac4d2419792f08338d4fa5fd21c61ad79484c875f1ac9b483f253842edb96c92400000000"
                  bitcoinMergedMiningMerkleProof: "0x91062f54a2ea641bebaa19e4d58df522a395bc89e6e230f98cc343d39a8deb070f190492c042ea5ebb75f6e9488345eedf5ff35219fd3ac21be0778e7feed9fc117db6cd70f02ddc5635577981626db173937a041ae38c9cebd10e645fd4ddc00d8662b4bbb4e4309ff07fb30ca6c3365bea0f823a5fe83f60750a3b0f62da5ec8ca82637afafe9869ecfdb26e5136c849080b46f6230090773949a1010a91ce82b1c65d92f57836e28e9f2f90133d4dc2376ea337bd76836058e5cc9ae6975e6211f67ff7f76793b2f505a621ef7c1f90f0f4d4badc62aaa70a20f223160961"
                  hashForMergedMining: "0xc4d2419792f08338d4fa5fd21c61ad79484c875f1ac9b483f253842edb96c924"
                  paidFees: "0x0"
                  cumulativeDifficulty: "0x4ff04782"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getBlockByHash", "params": ["0xf1652d8322a880e520f996f7d28b645814a58a202d7d2ab7f058e5566fe4f9f3", true], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getBlockByHash", "params": ["0xf1652d8322a880e520f996f7d28b645814a58a202d7d2ab7f058e5566fe4f9f3", true], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getBlockByHash", "params": ["0xf1652d8322a880e520f996f7d28b645814a58a202d7d2ab7f058e5566fe4f9f3", true], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "blockHash"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/BlockHash"
        - name: "fullTransactionObjects"
          description: "If `true` this method returns the full transaction objects, if `false` only the hashes of the transactions."
          required: true
          schema:
            title: "fullTransactionObjects"
            type: "boolean"
  /eth_getBlockByNumber:
    post:
      tags:
        - "eth"
      operationId: "eth_getBlockByNumber"
      summary: "Returns information about a block by block number"
      description: "**`eth_getBlockByNumber`** - Returns information about a block by block number\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getBlockByNumber"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - title: "blockNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                      - title: "fullTransactionObjects"
                        type: "boolean"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getBlockByNumber"
              params:
                - "0x1b4"
                - true
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/BlockOrNull"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  number: "0x1b4"
                  hash: "0xf1652d8322a880e520f996f7d28b645814a58a202d7d2ab7f058e5566fe4f9f3"
                  parentHash: "0x9203a97b2595a44e8d31dd7bf607155620dd50982ac282fc776e21a58b2f7795"
                  sha3Uncles: "0x2f752c2e72d38f3677bfa47bd54ec10441141a6415f3be121341d94276dfd732"
                  logsBloom: "0x00000008000000800000000000000000000000000000000000000000000008000000000000040000000000000000000050000000000000000000000000000000000000000000000000000000005000000010000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000200000000000001040000000000000400000000000000000000100000000000000010000000000000000000001000000000000001000001000000000000000000000000000020000000000080200000100000000000000000000000000000000000000000000000000000000000000000000000"
                  transactionsRoot: "0xe94962ab91fe305207670ca17d958ce15bdd553aa6630eba07476c0f35a65b50"
                  stateRoot: "0xa12e5b995ec8056d6c2d2558c6f4e1ab7f0d6d3eaed868e84c00923cf58bb642"
                  receiptsRoot: "0x2cdc6fdc519baad55c4f9d86d1415dbfe21265c6b2ba1f283e1391e015735c42"
                  miner: "0x1fab9a0e24ffc209b01faa5a61ad4366982d0b7f"
                  difficulty: "0x1aa2b738"
                  totalDifficulty: "0x1f61daa8d6"
                  extraData: "0x"
                  size: "0xafe"
                  gasLimit: "0x67c280"
                  gasUsed: "0x0"
                  timestamp: "0x5d1f7c06"
                  transactions:
                    - $ref: "#/components/schemas/TransactionExampleResult"
                  uncles:
                    - "0x6d12270d24b591931974b75c1a753d1db8c22372baf1aaaa79253858caeed52b"
                    - "0x9ea21e7d69ffb54face62769a04b08434d606a40c12e1348c4da348d91a9f5e4"
                  minimumGasPrice: "0x0"
                  bitcoinMergedMiningHeader: "0x000000202d17c9a169c4c93eaf376bc35ff6561d0b743880600f3d8370020000000000008d31ad07fc72224ddd23632463f2119d977defc86f1b0ebf16171225bf9c316c117c1f5d531d041a8046d09f"
                  bitcoinMergedMiningCoinbaseTransaction: "0x000000000000008075aec68cfceb2bda1dcc166c1564517793f90ee07fcd446699d440628290564f6088ac0000000000000000266a24aa21a9ed08ade7f48a09603efcf910361380e3ce1ebc9813eb4a7d85473a9c170d79017e00000000000000002a6a52534b424c4f434b3ac4d2419792f08338d4fa5fd21c61ad79484c875f1ac9b483f253842edb96c92400000000"
                  bitcoinMergedMiningMerkleProof: "0x91062f54a2ea641bebaa19e4d58df522a395bc89e6e230f98cc343d39a8deb070f190492c042ea5ebb75f6e9488345eedf5ff35219fd3ac21be0778e7feed9fc117db6cd70f02ddc5635577981626db173937a041ae38c9cebd10e645fd4ddc00d8662b4bbb4e4309ff07fb30ca6c3365bea0f823a5fe83f60750a3b0f62da5ec8ca82637afafe9869ecfdb26e5136c849080b46f6230090773949a1010a91ce82b1c65d92f57836e28e9f2f90133d4dc2376ea337bd76836058e5cc9ae6975e6211f67ff7f76793b2f505a621ef7c1f90f0f4d4badc62aaa70a20f223160961"
                  hashForMergedMining: "0xc4d2419792f08338d4fa5fd21c61ad79484c875f1ac9b483f253842edb96c924"
                  paidFees: "0x0"
                  cumulativeDifficulty: "0x4ff04782"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getBlockByNumber", "params": ["0x1b4", true], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getBlockByNumber", "params": ["0x1b4", true], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getBlockByNumber", "params": ["0x1b4", true], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "blockNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
        - name: "fullTransactionObjects"
          description: "If `true` returns the full transaction objects, if `false` only the hashes of the transactions."
          required: true
          schema:
            title: "fullTransactionObjects"
            type: "boolean"
  /eth_getBlockTransactionCountByHash:
    post:
      tags:
        - "eth"
      operationId: "eth_getBlockTransactionCountByHash"
      summary: "Returns the number of transactions in a block from a block matching the given block hash."
      description: "**`eth_getBlockTransactionCountByHash`** - Returns the number of transactions in a block from a block matching the given block hash.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getBlockTransactionCountByHash"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/BlockHash"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getBlockTransactionCountByHash"
              params:
                - "0xb125fbdfa4a07258e2653c4c7412d060362928aaf062b5f91321d5ceed66854a"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/IntegerOrNull"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x2"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getBlockTransactionCountByHash", "params": ["0xb125fbdfa4a07258e2653c4c7412d060362928aaf062b5f91321d5ceed66854a"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getBlockTransactionCountByHash", "params": ["0xb125fbdfa4a07258e2653c4c7412d060362928aaf062b5f91321d5ceed66854a"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getBlockTransactionCountByHash", "params": ["0xb125fbdfa4a07258e2653c4c7412d060362928aaf062b5f91321d5ceed66854a"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "blockHash"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/BlockHash"
  /eth_getBlockTransactionCountByNumber:
    post:
      tags:
        - "eth"
      operationId: "eth_getBlockTransactionCountByNumber"
      summary: "Returns the number of transactions in a block from a block matching the given block number."
      description: "**`eth_getBlockTransactionCountByNumber`** - Returns the number of transactions in a block from a block matching the given block number.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getBlockTransactionCountByNumber"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - title: "blockNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getBlockTransactionCountByNumber"
              params:
                - "0x2e5e54"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/IntegerHex"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x2"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getBlockTransactionCountByNumber", "params": ["0x2e5e54"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getBlockTransactionCountByNumber", "params": ["0x2e5e54"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getBlockTransactionCountByNumber", "params": ["0x2e5e54"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "blockNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
  /eth_getCode:
    post:
      tags:
        - "eth"
      operationId: "eth_getCode"
      summary: "Returns code at a given contract address"
      description: "**`eth_getCode`** - Returns code at a given contract address\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getCode"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/Address"
                      - title: "blockRefOrNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockRef"
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getCode"
              params:
                - "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b"
                - "0x2"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/Bytes"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x600160008035811a818181146012578301005b601b6001356025565b8060005260206000f25b600060078202905091905056"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getCode", "params": ["0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b", "0x2"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getCode", "params": ["0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b", "0x2"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getCode", "params": ["0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b", "0x2"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "address"
          description: "The address of the contract"
          required: true
          schema:
            $ref: "#/components/schemas/Address"
        - name: "blockRefOrNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockRefOrNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockRef"
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
  /eth_getFilterChanges:
    post:
      tags:
        - "eth"
      operationId: "eth_getFilterChanges"
      summary: "Polling method for a filter, which returns an array of logs which occurred since last poll."
      description: "**`eth_getFilterChanges`** - Polling method for a filter, which returns an array of logs which occurred since last poll.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getFilterChanges"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/FilterId"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getFilterChanges"
              params:
                - "0x16"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "logResult"
                    type: "array"
                    description: "Array of log objects, or an empty array if nothing has changed since last poll. For more info check https://developers.rsk.co/rsk/node/architecture/json-rpc/"
                    items:
                      $ref: "#/components/schemas/Log"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  - logIndex: "0x1"
                    blockNumber: "0x1b4"
                    blockHash: "0x8216c5785ac562ff41e2dcfdf5785ac562ff41e2dcfdf829c5a142f1fccd7d"
                    transactionHash: "0xdf829c5a142f1fccd7d8216c5785ac562ff41e2dcfdf5785ac562ff41e2dcf"
                    transactionIndex: "0x0"
                    address: "0x16c5785ac562ff41e2dcfdf829c5a142f1fccd7d"
                    data: "0x0000000000000000000000000000000000000000000000000000000000000000"
                    topics:
                      - "0x59ebeb90bc63057b6515673c3ecf9438e5058bca0f92585014eced636878c9a5"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getFilterChanges", "params": ["0x16"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getFilterChanges", "params": ["0x16"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getFilterChanges", "params": ["0x16"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "filterId"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/FilterId"
  /eth_getFilterLogs:
    post:
      tags:
        - "eth"
      operationId: "eth_getFilterLogs"
      summary: "Returns an array of all logs matching filter with given id."
      description: "**`eth_getFilterLogs`** - Returns an array of all logs matching filter with given id.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getFilterLogs"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/FilterId"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getFilterLogs"
              params:
                - "0x16"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "setOfLogs"
                    type: "array"
                    description: "Array of log objects, or an empty array if nothing has changed since last poll."
                    items:
                      $ref: "#/components/schemas/Log"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  - logIndex: "0x1"
                    blockNumber: "0x1b4"
                    blockHash: "0x8216c5785ac562ff41e2dcfdf5785ac562ff41e2dcfdf829c5a142f1fccd7d"
                    transactionHash: "0xdf829c5a142f1fccd7d8216c5785ac562ff41e2dcfdf5785ac562ff41e2dcf"
                    transactionIndex: "0x0"
                    address: "0x16c5785ac562ff41e2dcfdf829c5a142f1fccd7d"
                    data: "0x0000000000000000000000000000000000000000000000000000000000000000"
                    topics:
                      - "0x59ebeb90bc63057b6515673c3ecf9438e5058bca0f92585014eced636878c9a5"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getFilterLogs", "params": ["0x16"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getFilterLogs", "params": ["0x16"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getFilterLogs", "params": ["0x16"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "filterId"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/FilterId"
  /eth_getLogs:
    post:
      tags:
        - "eth"
      operationId: "eth_getLogs"
      summary: "Returns an array of all logs matching a given filter object."
      description: "**`eth_getLogs`** - Returns an array of all logs matching a given filter object.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getLogs"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - title: "filter"
                        type: "object"
                        description: "A filter used to monitor the blockchain for log/events"
                        properties:
                          fromBlock:
                            $ref: "#/components/schemas/BlockNumberHex"
                          toBlock:
                            $ref: "#/components/schemas/BlockNumberHex"
                          address:
                            title: "oneOrArrayOfAddresses"
                            oneOf:
                              - $ref: "#/components/schemas/Address"
                              - $ref: "#/components/schemas/Addresses"
                          topics:
                            $ref: "#/components/schemas/Topics"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getLogs"
              params:
                - topics:
                    - "0x000000000000000000000000a94f5374fce5edbc8e2a8697c15331677e6ebf0b"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "setOfLogs"
                    type: "array"
                    description: "Array of log objects, or an empty array if nothing has changed since last poll."
                    items:
                      $ref: "#/components/schemas/Log"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  - logIndex: "0x1"
                    blockNumber: "0x1b4"
                    blockHash: "0x8216c5785ac562ff41e2dcfdf5785ac562ff41e2dcfdf829c5a142f1fccd7d"
                    transactionHash: "0xdf829c5a142f1fccd7d8216c5785ac562ff41e2dcfdf5785ac562ff41e2dcf"
                    transactionIndex: "0x0"
                    address: "0x16c5785ac562ff41e2dcfdf829c5a142f1fccd7d"
                    data: "0x0000000000000000000000000000000000000000000000000000000000000000"
                    topics:
                      - "0x59ebeb90bc63057b6515673c3ecf9438e5058bca0f92585014eced636878c9a5"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getLogs", "params": [{"topics": ["0x000000000000000000000000a94f5374fce5edbc8e2a8697c15331677e6ebf0b"]}], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getLogs", "params": [{"topics": ["0x000000000000000000000000a94f5374fce5edbc8e2a8697c15331677e6ebf0b"]}], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getLogs", "params": [{"topics": ["0x000000000000000000000000a94f5374fce5edbc8e2a8697c15331677e6ebf0b"]}], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "filter"
          description: ""
          required: true
          schema:
            title: "filter"
            type: "object"
            description: "A filter used to monitor the blockchain for log/events"
            properties:
              fromBlock:
                $ref: "#/components/schemas/BlockNumberHex"
              toBlock:
                $ref: "#/components/schemas/BlockNumberHex"
              address:
                title: "oneOrArrayOfAddresses"
                oneOf:
                  - $ref: "#/components/schemas/Address"
                  - $ref: "#/components/schemas/Addresses"
              topics:
                $ref: "#/components/schemas/Topics"
  /eth_getStorageAt:
    post:
      tags:
        - "eth"
      operationId: "eth_getStorageAt"
      summary: "Gets a storage value from a contract address, a position, and an optional blockNumber"
      description: "**`eth_getStorageAt`** - Gets a storage value from a contract address, a position, and an optional blockNumber\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getStorageAt"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 3
                  maxItems: 3
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/Address"
                      - $ref: "#/components/schemas/Position"
                      - title: "blockNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getStorageAt"
              params:
                - "0x295a70b2de5e3953354a6a8344e616ed314d7251"
                - "0x6661e9d6d8b923d5bbaab1b96e1dd51ff6ea2a93520fdc9eb75d059238b8c5e9"
                - "latest"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    $ref: "#/components/schemas/DataWord"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x000000000000000000000000000000000000000000000000000000000000162e"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getStorageAt", "params": ["0x295a70b2de5e3953354a6a8344e616ed314d7251", "0x6661e9d6d8b923d5bbaab1b96e1dd51ff6ea2a93520fdc9eb75d059238b8c5e9", "latest"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getStorageAt", "params": ["0x295a70b2de5e3953354a6a8344e616ed314d7251", "0x6661e9d6d8b923d5bbaab1b96e1dd51ff6ea2a93520fdc9eb75d059238b8c5e9", "latest"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getStorageAt", "params": ["0x295a70b2de5e3953354a6a8344e616ed314d7251", "0x6661e9d6d8b923d5bbaab1b96e1dd51ff6ea2a93520fdc9eb75d059238b8c5e9", "latest"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "address"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/Address"
        - name: "key"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/Position"
        - name: "blockNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
  /eth_getTransactionByBlockHashAndIndex:
    post:
      tags:
        - "eth"
      operationId: "eth_getTransactionByBlockHashAndIndex"
      summary: "Returns information about a transaction by block hash and transaction index position."
      description: "**`eth_getTransactionByBlockHashAndIndex`** - Returns information about a transaction by block hash and transaction index position.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getTransactionByBlockHashAndIndex"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/BlockHash"
                      - $ref: "#/components/schemas/IntegerHex"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getTransactionByBlockHashAndIndex"
              params:
                - "0x0297ed9012b044e671a86a8e88bc7cfc79311a1da38b807783ac87b9b89b1b69"
                - "0x0"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "TransactionOrNull"
                    oneOf:
                      - $ref: "#/components/schemas/Transaction"
                      - $ref: "#/components/schemas/Null"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  $ref: "#/components/schemas/TransactionExampleResult"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getTransactionByBlockHashAndIndex", "params": ["0x0297ed9012b044e671a86a8e88bc7cfc79311a1da38b807783ac87b9b89b1b69", "0x0"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getTransactionByBlockHashAndIndex", "params": ["0x0297ed9012b044e671a86a8e88bc7cfc79311a1da38b807783ac87b9b89b1b69", "0x0"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getTransactionByBlockHashAndIndex", "params": ["0x0297ed9012b044e671a86a8e88bc7cfc79311a1da38b807783ac87b9b89b1b69", "0x0"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "blockHash"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/BlockHash"
        - name: "index"
          description: "The ordering in which a transaction is mined within its block."
          required: true
          schema:
            $ref: "#/components/schemas/IntegerHex"
  /eth_getTransactionByBlockNumberAndIndex:
    post:
      tags:
        - "eth"
      operationId: "eth_getTransactionByBlockNumberAndIndex"
      summary: "Returns the information about a transaction requested by the block number and index of which it was mined."
      description: "**`eth_getTransactionByBlockNumberAndIndex`** - Returns the information about a transaction requested by the block number and index of which it was mined.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getTransactionByBlockNumberAndIndex"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - title: "blockNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                      - $ref: "#/components/schemas/IntegerHex"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getTransactionByBlockNumberAndIndex"
              params:
                - "0x29c"
                - "0x0"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "TransactionOrNull"
                    oneOf:
                      - $ref: "#/components/schemas/Transaction"
                      - $ref: "#/components/schemas/Null"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  $ref: "#/components/schemas/TransactionExampleResult"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getTransactionByBlockNumberAndIndex", "params": ["0x29c", "0x0"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getTransactionByBlockNumberAndIndex", "params": ["0x29c", "0x0"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getTransactionByBlockNumberAndIndex", "params": ["0x29c", "0x0"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "blockNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
        - name: "index"
          description: "The ordering in which a transaction is mined within its block."
          required: true
          schema:
            $ref: "#/components/schemas/IntegerHex"
  /eth_getTransactionByHash:
    post:
      tags:
        - "eth"
      operationId: "eth_getTransactionByHash"
      summary: "Returns the information about a transaction requested by transaction hash."
      description: "**`eth_getTransactionByHash`** - Returns the information about a transaction requested by transaction hash.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getTransactionByHash"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/TransactionHash"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getTransactionByHash"
              params:
                - "0x05140aca6b0312a2d7dce35a3227b86b8a973fc69e508c5d4beb2b3c88fa28a1"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "TransactionOrNull"
                    oneOf:
                      - $ref: "#/components/schemas/Transaction"
                      - $ref: "#/components/schemas/Null"
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  $ref: "#/components/schemas/TransactionExampleResult"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x05140aca6b0312a2d7dce35a3227b86b8a973fc69e508c5d4beb2b3c88fa28a1"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x05140aca6b0312a2d7dce35a3227b86b8a973fc69e508c5d4beb2b3c88fa28a1"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getTransactionByHash", "params": ["0x05140aca6b0312a2d7dce35a3227b86b8a973fc69e508c5d4beb2b3c88fa28a1"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "transactionHash"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/TransactionHash"
  /eth_getTransactionCount:
    post:
      tags:
        - "eth"
      operationId: "eth_getTransactionCount"
      summary: "Returns the number of transactions `sent` from an address"
      description: "**`eth_getTransactionCount`** - Returns the number of transactions `sent` from an address\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getTransactionCount"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 2
                  maxItems: 2
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/Address"
                      - title: "blockRefOrNumberOrTag"
                        oneOf:
                          - $ref: "#/components/schemas/BlockRef"
                          - $ref: "#/components/schemas/BlockNumberHex"
                          - $ref: "#/components/schemas/BlockNumberTag"
                id:
                  oneOf:
                    - type: "integer"
                    - type: "string"
                  example: 1
            example:
              jsonrpc: "2.0"
              method: "eth_getTransactionCount"
              params:
                - "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
                - "latest"
              id: 1
      responses:
        "200":
          description: "Successful JSON-RPC 2.0 response over HTTP. The return value is in `result`. On failure, nodes typically still respond with HTTP 200 and an `error` object instead of `result`."
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "jsonrpc"
                  - "id"
                  - "result"
                properties:
                  jsonrpc:
                    type: "string"
                    enum:
                      - "2.0"
                  id:
                    oneOf:
                      - type: "integer"
                      - type: "string"
                  result:
                    title: "nonceOrNull"
                    oneOf:
                      - $ref: "#/components/schemas/Nonce"
                      - $ref: "#/components/schemas/Null"
              example:
                jsonrpc: "2.0"
                id: 1
                result: "0x1"
      x-code-samples:
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -X POST https://rpc.testnet.rootstock.io/YOUR_API_KEY \
              -H 'Content-Type: application/json' \
              -d '{"jsonrpc": "2.0", "method": "eth_getTransactionCount", "params": ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"], "id": 1}'
        - lang: "JavaScript"
          label: "JavaScript (fetch)"
          source: |
            const response = await fetch('https://rpc.testnet.rootstock.io/YOUR_API_KEY', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({"jsonrpc": "2.0", "method": "eth_getTransactionCount", "params": ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"], "id": 1})
            });
            const data = await response.json();
            console.log(data);
        - lang: "Python"
          label: "Python (requests)"
          source: |
            import requests
            
            payload = {"jsonrpc": "2.0", "method": "eth_getTransactionCount", "params": ["0xc94770007dda54cF92009BFF0dE90c06F603a09f", "latest"], "id": 1}
            response = requests.post('https://rpc.testnet.rootstock.io/YOUR_API_KEY', json=payload, timeout=30)
            print(response.json())
      x-jsonrpc-params:
        - name: "address"
          description: ""
          required: true
          schema:
            $ref: "#/components/schemas/Address"
        - name: "blockRefOrNumberOrTag"
          description: ""
          required: true
          schema:
            title: "blockRefOrNumberOrTag"
            oneOf:
              - $ref: "#/components/schemas/BlockRef"
              - $ref: "#/components/schemas/BlockNumberHex"
              - $ref: "#/components/schemas/BlockNumberTag"
  /eth_getTransactionReceipt:
    post:
      tags:
        - "eth"
      operationId: "eth_getTransactionReceipt"
      summary: "Returns the receipt information of a transaction by its hash."
      description: "**Note** that the receipt is not available for pending transactions.\n\nSend a **JSON-RPC 2.0** request (`jsonrpc`, `method`, `params`, `id`) as in the example below."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "jsonrpc"
                - "method"
                - "params"
                - "id"
              properties:
                jsonrpc:
                  type: "string"
                  enum:
                    - "2.0"
                method:
                  type: "string"
                  enum:
                    - "eth_getTransactionReceipt"
                params:
                  type: "array"
                  description: "Ordered JSON array of positional parameters for this method."
                  minItems: 1
                  maxItems: 1
[...]
